.idea/
learnSpanish.sln.DotSettings
.vs
learnSpanish/learnSpanish/bin
learnSpanish/learnSpanish/obj
learnSpanish/learnSpanish.Android/obj
learnSpanish/learnSpanish.Android/learnSpanish.Android.csproj.user
learnSpanish/learnSpanish.Android/bin
learnSpanish/learnSpanish.iOS/obj
learnSpanish/learnSpanish.iOS/bin
learnSpanish/learnSpanish.iOS/learnSpanish.iOS.csproj.user
learnSpanish/learnSpanish.UWP/obj
learnSpanish/learnSpanish.UWP/bin